<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.5" />

        <!-- ###+ nelmio/cors-bundle ### -->
        <env name="CORS_ALLOW_ORIGIN" value="'^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'"/>
        <!-- ###- nelmio/cors-bundle ### -->

        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="050748d141d98868e3b154fbd52776b4"/>
        <!-- ###- lexik/jwt-authentication-bundle ### -->
        <env name="JWT_PASSPHRASE" value="3a719c4ee6ad8fb57e2a08489498cd92"/>
        <!-- ###- lexik/jwt-authentication-bundle ### -->

        <!-- ###+ sentry/sentry-symfony ### -->
        <env name="SENTRY_DSN" value=""/>
        <!-- ###- sentry/sentry-symfony ### -->

        <!-- ###+ algolia/search-bundle ### -->
        <!-- Create a free account on www.algolia.com -->
        <!-- and get your credentials from the API Keys tab. -->
        <env name="ALGOLIA_APP_ID" value="..."/>
        <env name="ALGOLIA_API_KEY" value="..."/>
        <!-- ###- algolia/search-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <!-- Run `composer require symfony/panther` before enabling this extension -->
    <!--
    <extensions>
        <extension class="Symfony\Component\Panther\ServerExtension" />
    </extensions>
    -->
</phpunit>
